<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}" />
    <title>Register</title>
</head>
<body>
    {% if msg %}
        <p>{{ msg }}</p>
    {% else %}
        <form action="{% url 'store:register' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    {% endif %}
    <hr/>
    <div>
        <ul>
            <li class="hbar1"><a href="{% url 'store:login' %}">Login</a></li>
            {% if msg == 'InvalidError' %}
                <li class="hbar1"><a href="{% url 'store:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</body>
</html>